@charset "utf-8";
/*#2EA684----verde 
#2E5B84---- azul
#DACFC6---- beich
para degrade to bottom*/
body {
	margin: 0px;
	background-color: #F4F1EE;
	background-image: url(imgs/fondo.svg);
	background-repeat: repeat;
	background-size: 112px auto;
	background-attachment: fixed;
	color: #2E5B84;
	font-family: niramit;
}
footer {
	background-color: #DACFC6;
	width: 100%;
}
.rowfot {
	width: 98%;
	max-width: 1400px;
	margin-left: auto;
	margin-right: auto;
}


footer h4 {
	color: #2EA684;
	font-family: niramit;
	margin-bottom: 19px;
}
.imgfooter {
	padding-left: auto;
	padding-right: auto;
	text-align: center;
	padding-top: 7px;
	padding-bottom: 6px;
	margin-bottom: 9px;
	margin-top: 5px;
	width: 102%;
}
.imgfooter img  {
	width: 177px;
}
.foot2 {
	float: left;
	clear: left;
	margin-left: 1px;
	width: 99%;
}

.foot1 {
	padding-left: 21px;
	height: 169px;
	margin-top: 0px;
	margin-right: 0px;
	border-right: 1px solid #2EA684;
	width: 18%;
}
.foot1 p {
	color: #2E5B84;
	padding-top: auto;
	padding-bottom: auto;
}


.foot12 {
	padding-left: 20px;
	height: 129px;
	border-right-width: 0px;
	margin-top: 0px;
}
.foot12 p {
	margin-top: auto;
	margin-bottom: auto;

}

.subfoot2  {
	padding-top: 9px;
	font-size: 16px;
	margin-left: 14%;
	width: 204px;
	color: #2EA684;
	font-family: montserrat;
}
.subfoot3 {
	width: 17%;
	border-right: 1px solid #2EA684;

}
#LUCIAfot img {
	width: 322px;
	position: absolute;
	margin-left: -614px;
	margin-top: 12px;
}
.textofot {
	color: #2E5B84;
	font-family: niramit;
	float: left;
	clear: both;
	width: 100%;
	margin-bottom: 10px;
	margin-top: 0px;
}
.textofot img {
	float: left;
	margin-right: 8px;
}



.iconofoot img  {
	width: 25px;
	margin-top: 0px;

}
.subfoot3 p {
	color: #2E5B84;
	margin-top: 4px;
}

.subfoot3 h3 {
	color: #2EA684;
	margin-top: 2px;
	font-family: niramit;
}
.nequi img {
	width: 47px;
	float: left;
	margin-right: 22px;
	margin-bottom: 15px;
}
.daviplata img {
	width: 51px;
	float: left;
}


.cppyzerotox {
	text-align: center;
	color: #2EA684;
	font-family: niramit;
	margin-top: 25px;
	margin-bottom: 25px;
	font-size: 12px;
	letter-spacing: 1px;
}






.contenedor {
	background-color: #EDE8E3;
	border-top-left-radius: 14px;
	border-bottom-left-radius: 14px;
	display: flex;
	margin-left: auto;
	width: 92%;
	padding-right: 0px;
	height: 391.808px;
	margin-right: auto;
	max-width: 1300px;
	margin-top: 94px;
}

.background {
	width: 753.011px;
	height: 391.807px;
	border-radius: 10px;
	float: left;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	background-image: url(../imgs/Previsualizacion.jpg);
}
.background0 {
	width: 753.011px;
	height: 391.807px;
	border-radius: 10px;
	float: left;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 92% 0%;
	background-image: url(../imgs/cap_0.png);
}
.background01 {
	width: 753.011px;
	height: 391.807px;
	border-radius: 10px;
	float: left;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 18% 0%;

	background-image: url(
../CAP_1/ANTES_(ESCENA%201)/escena_1_5.jpg);
	background-image: url(../CAP_1/ANTES_ESCENA_1/escena_1_4.jpg);
}
.row {

}

.background img {
	visibility: inherit;
	width: 296px;
}

.welcome {
	float: right;
	padding-left: 33px;
	width: 620px;
	margin-right: 0px;
	height: 391.808px;
	padding-top: 21px;
}
.welcome h2 {
	font-family: niramit;
	margin-bottom: 8px;
	color: #2E5B84;
	margin-top: 24px;
	font-size: 2em;

}
.welcome p {
	font-family: Montserrat;
	font-size: 15px;
	margin-bottom: -23px;
	color: #2E5B84;
	width: 95%;
	line-height: 27px;
	margin-top: 21px;

}
.welcome img {
	width: 28.602%;
	margin-top: -5%;
}
.contenedorch {
	width: 92%;
	margin-left: auto;
	margin-right: auto;
	max-width: 1300px;
	height: auto;
	clear: both;
	padding-bottom: 74px;
	z-index: -80;
}



.progreso {
	background-color: #DACFC6;
	width: 54%;
	height: 12.372px;
	margin-top: 14px;
}
.progreso2 {
	background-color: #2EA684;
	width: 23%;
	height: 12.372px;
	margin-top: 14px;
}
.textoaparte {
	color: #2E5B84;
	font-family: niramit;
	margin-top: 8px;
	font-size: 22px;
}
.comienza {
	color: #2E5B84;
	text-align: center;
}
.comienza h2 {
	color: #2E5B84;
	text-align: center;
	font-family: niramit;
	margin-bottom: -16px;
	font-size: 2em;
}

.comienza p {
	color: #2E5B84;
	text-align: center;
	font-family: montserrat;
	font-size: 15px;
	line-height: 27px;
	margin-bottom: 54px;
	margin-top: 27px;
}
.capitulod {
	background-color: #DACFC6;
	width: 21vw;
	color: #2E5B84;
	height: 357px;
	margin-top: 23px;
	margin-bottom: 25px;
	border-radius: 10px;
	padding-left: 10px;
	padding-top: 10px;
	float: none;
	max-width: 300px;
	margin-left: auto;
	margin-right: auto;
}
.capitulob  {
	-webkit-box-shadow: 11px 15px 25px -12px #535353;
	box-shadow: 11px 15px 25px -12px #535353;
	background-image: -webkit-linear-gradient(270deg,rgba(46,166,132,1.00) 0%,rgba(46,91,132,1.00) 100%);
	background-image: -moz-linear-gradient(270deg,rgba(46,166,132,1.00) 0%,rgba(46,91,132,1.00) 100%);
	background-image: -o-linear-gradient(270deg,rgba(46,166,132,1.00) 0%,rgba(46,91,132,1.00) 100%);
	background-image: linear-gradient(180deg,rgba(46,166,132,1.00) 0%,rgba(46,91,132,1.00) 100%);
	color: #FFFFFF;
	transition: all 300ms ease-in-out;
}
.capdesb  {
	color: #0B2A4F;
	transition: all 300ms ease-in-out;
	background-color: #DACFC6;
}

.capitulob:hover {
	transform: scale(1.09);
	transition: all 400ms ease-in-out;
	}
.capdesb:hover {
	transform: scale(1.09);
	transition: all 400ms ease-in-out;
	}



.background2 {
	background-image: url(../imgs/Previsualizacion.jpg);
	background-repeat: no-repeat;
	height: 155px;
	margin-right: 0px;
	float: none;
	border-radius: 16px;
	background-size: cover;
	width: 96%;
	background-position: center center;
}
.background22 {
	background-image: url(../imgs/cap_0.png);
	background-repeat: no-repeat;
	height: 155px;
	margin-right: 0px;
	float: none;
	border-radius: 16px;
	background-size: cover;
	width: 96%;
}
.background23 {
	background-image: url(
../CAP_1/ANTES_(ESCENA%201)/escena_1_4.jpg);
	background-repeat: no-repeat;
	height: 155px;
	margin-right: 0px;
	float: none;
	border-radius: 16px;
	background-size: cover;
	width: 96%;
	background-image: url(../CAP_1/ANTES_ESCENA_1/escena_1_4.jpg);
}


.background3 {
	background-image: url(../imgs/ed2.jpg);
	background-repeat: no-repeat;
	height: 155px;
	margin-right: 0px;
	float: none;
	border-radius: 16px;
	background-size: cover;
	width: 96%;
	opacity: 0.51;
	z-index: 2;
}
#video1 {
	width: 100%;
	border-radius: 14px;
}
.video {
	width: 100%;
	height: 155px;
	border-radius: 14px;
}


.capitulod h3 {
	float: none;
	font-family: niramit;
	font-size: 22px;
	width: 96%;
	text-align: center;
	margin-right: 23px;
	margin-bottom: -12px;
	margin-top: 36px;
}

.capitulod p {
	font-family: montserrat;
	font-size: 12px;
	text-align: center;
	width: 84%;
	padding-left: 0px;
	line-height: 19px;
	margin-top: 27px;
	float: left;
	margin-left: 13px;
}
.torigth {
	float: right;
	clear: left;

}

.btncapitulo {
	width: 59px;
	height: 59px;
	font-family: niramit;
	color: #FFFFFF;
	font-size: 18px;
	font-weight: bold;
	cursor: pointer;
	border-radius: 100%;
	border: 3px solid #FFFFFF;
	background-color: transparent;
	margin-top: -118px;
	margin-right: auto;
	text-align: center;
	z-index: 138;
	position: absolute;
	padding-left: 12px;
	margin-left: 33%;
}
.btncapitulo:hover {
	opacity: 0.85;


}
.capitulod img {
	width: 46.91px;
	height: 61.582px;
	margin-top: -119px;
	float: right;
	margin-left: -23%;
	margin-right: auto;
	z-index: 5;
	position: absolute;
}
.int img {
	width: 100%;
	margin-top: 75px;
	max-width: 1400px;
}
.fondovec .int h2 {
	font-family: niramit;
	color: #2E5B84;
	text-align: center;
	width: 100%;
	margin-top: 96px;
	font-weight: bold;
	font-size: xx-large;
}
.fondovec .int h4 {
	font-family: montserrat;
	width: 100%;
	text-align: center;
	color: #2E5B84;
}
.fondovec .int p {
	color: #2E5B84;
	font-family: montserrat;
	text-align: center;
	margin-bottom: -32px;
}


.fondovec .int {
	max-width: 1400px;
	margin-left: auto;
	margin-right: auto;
}
.boxdecision img  {
	width: 75px;
	margin-top: 7px;
	color: #FFFFFF;
	text-align: center;
	margin-bottom: 45px;
	transform: rotate(-30deg);
}
.boxdecision h2 {
	text-align: center;
	font-weight: bold;
}

.boxdecision .desbox  {
	color: #FFFFFF;
	font-family: montserrat;
	text-align: center;
	font-size: 8px;
	background-image: -webkit-linear-gradient(0deg,rgba(46,91,132,1.00) 0%,rgba(46,166,132,1.00) 49.74%,rgba(46,91,132,1.00) 100%);
	background-image: -moz-linear-gradient(0deg,rgba(46,91,132,1.00) 0%,rgba(46,166,132,1.00) 49.74%,rgba(46,91,132,1.00) 100%);
	background-image: -o-linear-gradient(0deg,rgba(46,91,132,1.00) 0%,rgba(46,166,132,1.00) 49.74%,rgba(46,91,132,1.00) 100%);
	background-image: linear-gradient(90deg,rgba(46,91,132,1.00) 0%,rgba(46,166,132,1.00) 49.74%,rgba(46,91,132,1.00) 100%);
	height: 85px;
	padding-top: 8px;
}
.fondovec .boxdecision {
	text-align: center;
}

.boxdecision .desbox h3 {




}
.boxdecision h5  {
	color: #2E5B84;
	font-family: montserrat;
	text-align: center;
	margin-top: 64px;
	font-size: 14px;
	font-weight: 500;
}
.fondovec .both2 button {
	border: none;
	background-color: #FFFFFF;
	width: 261px;
	color: #2EA684;
	font-size: 17px;
	height: 155px;
	margin-right: 40px;
	display: inline-block;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	border-radius: 13px;
	transition: all 400ms ease-in-out;
}
.fondovec .both2 button:hover {
	color: #FFFFFF;
	background-color: #2E5B84;
	transform: scale(1.09);
	transition: all 400ms ease-in-out;
}
.fondovec .both2 button:active {
transform:scale(0.9);
}


.typedec {
	font-size: 21px;
}

.fondovec .both2 {
	margin-top: 55px;
	margin-bottom: 44px;
	display: block;
	height: auto;
	text-align: center;
}












@media (max-width:850px){
.background {
	width: 439.615px;
	height: 228.741px;
}
.background0 {
	width: 439.615px;
	height: 228.741px;
}
.background01 {
	width: 439.615px;
	height: 228.741px;
}
.contenedor {
	height: 228.741px;
	width: 90%;
}
.contenedorch {
	width: 90%;
}

.welcome {
	height: auto;
	padding-top: 0px;
}
.welcome h2 {
	font-size: 25px;
	padding-top: 0px;
	margin-top: 15px;
}
.welcome img {
	width: 28%;
}
.welcome p {
	font-size: 12px;
	line-height: 17px;
}
.progreso {
	width: 100%;
}
.progreso2 {
	height: 20px;
}

.textoaparte {
	font-size: 15px;
}
.comienza h2 {
	font-size: 25px;
}
.comienza p {
	font-size: 12px;
	line-height: 17px;
	margin-top: 29px;
}
.capitulod {
	width: 43vw;
	border-radius: 14px;
	padding-top: 10px;
	padding-left: 13px;
	margin-left: auto;
	margin-right: auto;
	height: 293px;
}

.capitulod h3 {
	width: 97%;
	font-size: 18px;
	text-align: center;
	float: none;
	margin-top: 19px;
}

.capitulod p {
	width: 91%;
	margin-left: 9px;
	margin-right: 23px;
	float: none;
	margin-top: 29px;
}
.torigth {
	padding-left: 0px;
}
.btncapitulo {
	font-size: 10px;
	margin-top: -107px;
	margin-left: 30%;
}
.background img {
	width: 182px;
}

.background2 {
	width: 96%;
	height: 139px;
	background-size: cover;
	clear: none;
	float: none;
	border-radius: 11px;
}
.background3 {
	width: 96%;
	height: 139px;
	background-size: cover;
	clear: none;
	float: none;
	border-radius: 11px;
}
.capitulob2 {
}

.capitulob h3 {
	width: 100%;
	font-size: 18px;
	text-align: center;
	margin-top: 9px;
}
.capitulod img {
	margin-left: 45%;
	margin-top: -100px;

}
.contenedorch .row .col-xs-3.col-lg-3.col-md-3.col-sm-3 {
	width: 50%;
}
.both {
	float: left;
	clear: none;
}




















}

@media (max-width:500px){
.contenedor {
	background-color: #FFFFFF;
	float: none;
	padding-right: 0px;
	border-radius: 34px;
	height: 458px;
	padding-top: 19px;
}
.contenedorch {
	width: 100%;
	padding-left: 0px;
	margin-top: 315px;
	margin-right: auto;
	margin-left: auto;
}

.background {
	position: absolute;
	margin-top: 254px;
	float: none;
	clear: none;
	margin-left: 5%;
	margin-right: 5%;
	width: 85%;
}
.background0 {
	position: absolute;
	margin-top: 254px;
	float: none;
	clear: none;
	margin-left: 5%;
	margin-right: 5%;
	width: 85%;
}
.background01 {
	position: absolute;
	margin-top: 254px;
	float: none;
	clear: none;
	margin-left: 5%;
	margin-right: 5%;
	width: 85%;
}
.background img {
	width: 162px;
	margin-top: 51px;
}


.welcome {
	margin-left: 5%;
	float: none;
	padding-left: 0px;
	margin-right: 5%;
	width: 90%;
}
.welcome h2 {
	text-align: center;
	font-size: 25px;
	margin-bottom: 18px;
}
.welcome p {
	font-size: 12px;
	line-height: 21px;
	text-align: left;
	margin-left: 19px;
}
.progreso {
	width: 85%;
	margin-right: auto;
	margin-left: auto;
}
.progreso2 {
	height: 12px;
}

.textoaparte {
	margin-left: 12%;
	font-size: 15px;
}
.comienza {
	margin-left: 10%;
	margin-bottom: -36px;
	margin-top: 33px;

}
.comienza h2 {
	text-align: center;
	font-size: 20px;
	margin-bottom: -25px;
}
.comienza p {
	text-align: center;
	font-size: 15px;
	line-height: 25px;
	margin-top: 35px;
	margin-bottom: 67px;
}
.capitulod {
	padding-left: 2px;
	height: 468px;
}
.contenedorch .row .col-xs-3.col-lg-3.col-md-3.col-sm-3 {
	width: 100%;
}



.capitulod h3 {
	width: 98%;
	font-size: 25px;
}

.capitulod p {
	margin-right: auto;
	margin-left: auto;
	width: 90%;
	font-size: 13px;

}
.btncapitulo {
	margin-left: 112px;


}
.background2 {
	width: 92%;
	height: 128px;
	margin-top: 4px;
	border-radius: 12px;
	margin-left: 7px;
}
.background23 {
	width: 92%;
	height: 128px;
	margin-top: 4px;
	border-radius: 12px;
	margin-left: 7px;
}
.background22 {
	width: 92%;
	height: 128px;
	margin-top: 4px;
	border-radius: 12px;
	margin-left: 7px;
}
.background3 {
	width: 92%;
	height: 128px;
	margin-top: 4px;
	border-radius: 12px;
	margin-left: 7px;
}
.capitulob {
	height: 96px;

}
.capitulod {
	width: 329px;
	max-width: 100%;
	border-radius: 14px;
}
.capitulod img {
	padding-left: 0px;
	position: absolute;
	margin-top: -104px;
}






















}

@media (max-width:1020px){
.contenedor {
	width: 85%;
}

.contenedorch {
	width: 85%;
}
.contenedorch .row .col-xs-3.col-lg-3.col-md-3.col-sm-3 {
	width: 50%;
}
.btncapitulo {
	margin-left: 109px;

}

.capitulod {
	width: 300px;
	max-width: 100%;
}
.capitulod img {
	margin-left: -20%;
}
.welcome img  {
	margin-top: -4%;
}
.subfoot2 {
	float: left;
	width: 29vw;
}
.row.rowfot .foot2.col-xs-12.col-md-6.col-lg-4 .subfoot2.col-xs-5.col-md-offset-0.col-sm-offset-0.col-sm-4.col-md-4.col-lg-5.col-xs-offset-0 {
	margin-left: 6%;
}

.subfoot3 {
	width: 29vw;
	clear: left;
	margin-left: 6%;
}
.foot1 {
	width: 28%;
	margin-top: -39px;
}
.foot12 {
	width: 27vw;
	margin-top: -39px;
}














}

@media (max-width:635px){
.contenedor {
	width: 93%;
	height: 244.808px;
}
.background {
	height: 244.808px;
}
.contenedorch {
	width: 93%;
}
.capitulod {
	height: 306px;
}
.btncapitulo {
	margin-left: 30%;
}
.foot1 {
	margin-top: -129px;
	width: 51%;
	height: 129px;
	border-right-width: 0px;
	border-bottom: 1px solid #2EA684;
}
.foot12 {
	margin-top: 0px;
	width: 49%;

}
.both {

}














}
/*popcerrar css*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body,
html{
}

.modal{
    width: 100%;
    height: 200vh;
    background: rgb(0,0,0,0.8);
    position: fixed;
    top: 0;
    left: 0;
	padding: 40px;
	
    display: flex;
    animation: modal 1s 1s forwards;
    visibility: hidden;
    opacity: 0;

}



.contenidoemergen{
	width: 100%;
    max-width: 800px;
    height: 100px;
	display: flex;
	background: linear-gradient(to bottom, #2EA684, #2E5B84);
	color: #fff;
	padding: 20px;
	text-align: center;
	position: relative;
	margin: 200px auto;
	border-radius: 14px;

}

.contenidoemergen p{
	text-align: center;
	font-size: 24px;
	font-family: 'Montserrat', sans-serif;
	line-height: 28px;
	margin-left: 110px;
}

.contenidoemergen img{
	width: 120px;
	margin-top: -40px;
	display: block;
}

.lucicerrar{
	width: 291px;
	position: absolute;
	margin: -60px 0px 0px;
	display: block;
}

#cerrar{
    display: none;
}

.modal .contenidoemergen .btn-cerrar {
	position: absolute;
    color: #2E5B84;
    font-size: 28px;
    z-index: 50;
    background: #E0D8D0;
    height: 40px;
    width: 40px;
    line-height: 25px;
    border-radius: 50%;
    right: -30px;
	top:-30px;
	text-align: center;
	margin: 20px;
	font-family: 'Niramit', sans-serif;
	border: #2E5B84 solid 2px;
	font-weight: bolder;
	
}

#cerrar + label {
    cursor:pointer;
    animation: modal 1s 1s forwards;
    visibility: hidden;
    opacity: 0;

}



#cerrar:checked + label, #cerrar:checked ~ .modal{
    display: none;

}


@keyframes modal{

    100%{
    visibility: visible;
    opacity: 1;
    }

}



@media screen and (max-width: 850px){

.contenidoemergen{
    height: 120px;
}
	.contenidoemergen p{
	font-size: 22px;
	line-height: 24px;
}
.contenidoemergen img{
	width: 100px;
	margin-top: -40px;
}
}
  


@media screen and (max-width: 500px){
	
	.contenidoemergen p{
	font-size: 20px;
}
	}
/*pop historia*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.btn-open-popup{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #D90C43;
	display: block;
	padding: 20px 50px;
	text-align: center;
	z-index: 50;
}


.container-all{
    width: 100%;
    height: 100%;
    position: fixed;
    padding: 40px;
    visibility: hidden;
    opacity: 0;
    transition: all 600ms;
	z-index: 2000;
}


.container-all:target{
    background: rgba(0,0,0,0.8);
    visibility: visible;
    opacity: 1;
}

.container-all:target .popup{
    top: 50%;
    left: 50%;
    transform: rotate(0deg) translate(-50%, -50%);
    visibility: visible;
}


.popup{
    width: 100%;
    max-width: 800px;
    height: 300px;
    position: relative;
    display: flex;
    background:linear-gradient(to bottom, #2EA684, #2E5B84); 
    visibility: hidden;
    top: -80%;
    left: -80%;
    transform: rotate(0deg) translate(-150%, 230%);
    transition: all 600ms;
	font-family: 'Montserrat', sans-serif;
	border-radius: 14px;
}


.img{
	width: 43%;
	background-size: 496px auto;
	background-position: center -39px;
	background-image: url(../imgs/LUCIA.png);
	background-repeat: no-repeat;
}

.container-text{
    width: 60%;
    padding: 50px;
    overflow-y: auto;
	color: #fff;
}


.container-text h1{
	font-size: 30px;
	text-align: center;	
}

.container-text p{
    margin-top: 20px;
    font-size: 16px;
	text-align: center;	
}


.btn-close-popup{
    width: 40px;
    height: 40px;
    position: absolute;
    right: -20px;
    top: -20px;
	padding-top: 14px;
    background: #fff;
    color: #000;
    border-radius: 50%;
    line-height: 10px;
	font-size: 20px;
	text-align: center;
	font-family: 'Niramit', sans-serif;
	font-weight: bold;
}

@media screen and (max-width: 850px){
    .popup{
        flex-direction: column;
        height: 100%;
        max-height: 500px;
    }
    
    .img{
	width: 45%;
	height: 60%;
	background-position: center -6%;
	margin: 0px auto;
	background-size: 350px auto;
    }
    
    .container-text{
        width: 100%;
        height: 70%;
        padding: 40px;
		margin-top: 20px;
    }
    .container-text h1{
	font-size: 25px;
	}
	.container-text p{
    margin-top: 20px;
    font-size: 14px;
}
}

@media screen and (max-width: 500px){
    .container-text{
        padding: 20px;
    }
    .img{
	width: 63%;
	background-position: 0% 10%;
	background-size: 200px auto;
    }
    .container-text h1{
        font-size: 25px;
    }
    
    .container-text p{
        font-size: 12px;
    }
}
.imgfooter {
}
.foot1 {
}
.foot2 {
}
.cppyzerotox {
}
.rowfot {
}
.subfoot2 {
}
.subfoot3 {
}
.foot12 {
}

.btncapitulo:hover {
	opacity: 0.23;
}

@media (min-width:768px) and (max-width:991px){
.both {
	padding-left: auto;
	padding-right: auto;

}
.both button {

}

.fondovec .int .vidc0 {
	width: 100%;
}
.subfoot2 {
	margin-left: 6%;
}











}

@media (min-width:992px) and (max-width:1199px){
.subfoot2 {
	margin-left: 6%;
}
.fondovec .int .both {
	margin-top: 4vw;
	padding-left: auto;
	padding-right: auto;
}

.fondovec .int .vidc0 {
	width: 90%;
	margin-left: 5%;
	margin-right: 5%;
}
.int img {
	width: 90%;
	margin-left: 5%;
	margin-right: 5%;
}
.fondovec .int h4 {


}









}

@media (min-width:500px) and (max-width:849px){

.fondovec .int .vidc0 {
	width: 100%;
	margin-left: 0px;
	margin-top: 0px;
}

.fondovec .int .vidc0 {
	width: 100%;
	margin-left: 0px;
	margin-top: 0px;
}
.fondovec .int .vidc0 {
	margin-left: 0px;
	width: 100%;
	margin-top: 30px;
}
.subfoot2 {
	margin-left: 6%;
	border-right: 1px solid #2EA684;
}
.foot1 {
	border-bottom-width: 0px;
}
.fondovec .int {
	height: auto;
	margin-bottom: 103px;
}
.fondovec .int .both {
	padding-left: 69px;
	padding-right: auto;
	width: 100%;

}
.int .both button {
	margin-left: 0px;
	float: none;
}









}

@media (min-width:1200px) and (max-width:1300px){



}
.textofot {
}
.capdesb {
}
.int {
	width: 100%;
	margin-top: -10px;
	height: auto;
}

.vidc0 {
	background-color: #000000;
	width: 100%;
	margin-bottom: 0px;
	max-width: 1400px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 75px;
}
.both {
	width: 100%;
	height: 66px;
	margin-top: 3vw;
	text-align: center;
	padding-left: 35%;
}
.both button {
	float: left;
	font-family: montserrat;
	height: 38px;
	background-image: -webkit-linear-gradient(270deg,rgba(46,166,132,1.00) 0%,rgba(46,91,132,1.00) 100%);
	background-image: -moz-linear-gradient(270deg,rgba(46,166,132,1.00) 0%,rgba(46,91,132,1.00) 100%);
	background-image: -o-linear-gradient(270deg,rgba(46,166,132,1.00) 0%,rgba(46,91,132,1.00) 100%);
	background-image: linear-gradient(180deg,rgba(46,166,132,1.00) 0%,rgba(46,91,132,1.00) 100%);
	color: #FFFFFF;
	font-weight: 500;
	margin-right: 36px;
	width: 180px;
	border-radius: 12px;
	border: none;
}
.both button:active {
	transform:scale(0.9);
}

.both button:hover {
	opacity: 0.86;	
}




@media (min-width:0px) and (max-width:500px){
.subfoot2 {
	float: none;
	clear: none;
	width: 94%;
	margin-top: 0px;
	margin-left: 17px;
	text-align: center;
	border-right-width: 0px;
}

.subfoot3 {
	float: none;
	clear: none;
	margin-top: 9px;
	width: 47%;
	border-right-width: 0px;
	margin-left: 126px;
	margin-bottom: 24px;
}
.foot1 {
	float: none;
	margin-top: 119px;
	width: 179px;
	border-bottom-width: 0px;
	border-right: 1px solid #2EA684;
	margin-left: 22px;
}
.foot12 {
	float: right;
	clear: none;
	padding-top: 0px;
	margin-top: -129px;
	margin-right: 7px;
	width: 52%;
}
.cppyzerotox {
	margin-bottom: 83px;
}
.fondovec .int .vidc0 {
	width: 100%;
	margin-left: 0px;
	margin-top: 30px;
}
.fondovec .int .both {
	width: 100%;
	padding-left: 17px;
}
.int .both button {
	margin-right: 24px;
}
.fondovec .int {
	margin-bottom: 98px;
}











}

@media (max-width:767px){
.both   {
	padding-left: 24vw;
}

}

@media (max-width:1400px){
.fondovec .int {
	width: 90%;
	margin-left: 5%;
	margin-right: 5%;
}

}
