@charset "utf-8";
.backnav {
	width: 100%;
	margin-right: 0px;
	display: fixed;
	-webkit-box-shadow: 0px 0px 44px #B5B2B2;
	box-shadow: 0px 0px 44px #B5B2B2;
	z-index: 1500;
	position: fixed;
	height: 70px;
	background-color: #FFFFFF;
}
.logonav {
	float: left;
	width: 0px;
	margin-top: -3px;
}
.logonav img {
	width: 158.602px;
	margin-bottom: auto;
	margin-left: 18px;
	margin-top: 10px;
}
.activo {
	color: #2EA684;
	text-decoration: none;
	margin-right: 14px;
}
.activo:hover {
	color: #2EA684;
	text-decoration: none;
	margin-right: 14px;
}
.tiponav {
	font-weight: bold;
	float: right;
	font-family: niramit;
	font-size: 15px;
	margin-top: 8px;
	
}
.tiponav li {
	float: left;
	list-style: none;
	text-decoration: none;
	margin-right: 26px;
	margin-top: 5px;
}
.tiponav li a {
	float: left;
	list-style: none;
	text-decoration: none;
	margin-top: 15px;
	margin-bottom: auto;
}
.space {
	position: relative;
	height: 10px;
	width: 100%;
	margin-bottom: 59px;
}

.colortipo   {
	color: #2E5B84;
	font-family: niramit;
	font-weight: bold;
	margin-right: 14px;
	float: right;
	text-decoration: none;


}
.colortipo:hover:not(.activo) {
	border-bottom: medium solid #2EA684;
}
.iconomenu {
	justify-content: space-between;
	display: inline-flex;
	width: 408px;
	padding-left: 11%;
	margin-top: auto;
	margin-left: 0px;
	margin-bottom: 0px;
	margin-right: 0px;
	top: auto;
	left: 0px;
	bottom: 0px;
	right: 0px;
	position: fixed;
	padding-bottom: 9px;
}

.iconomenu div {
	margin-left: auto;
	margin-right: auto;
	width: 33.3%;
	 
}
.iconoh img {
	width: 31.248px;
	height: 34.943px;
	margin-bottom: 12px;
	margin-top: 12px;
	padding-left: 0px;
}
.iconob img {
	width: 40.943px;
	height: 34.172px;
	margin-top: 12px;
}
.iconom img {
	width: 45.23px;
	height: auto;
	margin-top: 20px;
	margin-bottom: 12px;
}










@media (max-width:850px){

.colortipo {

}
.logonav img {
	height: 58.001px;
	margin-bottom: auto;
}
.ocultar2 {
	z-index: 17;
	opacity: 0;
	margin-top: -1px;
}







}

@media (max-width:500px){

	.ocultar {
		display: none
}

.titulosec {
	font-family: niramit;
	font-weight: bold;
	color: #2E5B84;
	padding-left: 16px;
	width: 472px;
	font-size: 25px;
	padding-top: 16px;
}
.titulosec h2 {
	margin-top: 3px;
	margin-bottom: auto;
	font-size: 25px;
}
.backnav {
	width: 100%;
	-webkit-box-shadow: 0px 0px 44px #B5B2B2;
	box-shadow: 0px 0px 44px #B5B2B2;
	z-index: 1500;
	position: fixed;
	height: 66.997px;
}
.space {
	width: 100%;
	height: 6px;
}
.ocultar2 {
	margin-bottom: 0px;
	opacity: 1;
}
.iconomenu {
}


}

@media (min-width:849px){
.ocultar2 {
	display: none;
}


}

@media (min-width:500px) and (max-width:849px){
.ocultar2 {

}

}

@media (min-width:0px) and (max-width:500px){
}

@media (max-width:635px){
.logonav img {
	width: 121px;
}

}