@media (max-width:1980px) and (min-width: 849px){
.migadepan1{
	margin-top: 100px;
	margin-left: 15px;
	color: #2e5c84;
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
}

.gasto{
	font-family: 'Niramit', sans-serif;
	font-size: 59.5px;
	color: #2e5c84;
	font-weight: bold;

}


.colorverde{
	color: #6bd05c;
}

.silencioso{
	font-weight: 100;
	letter-spacing: 15px;
}

.intro{
	margin-top: 30px;
	margin-left: 90px;
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
	color: #2e5c84;
	width: 539px;
	
}

.techoespacio{
	margin-top: -100px;
	margin-left: 10px;
	width:620px;
}

.elemento1{
	margin-top: -130px;
	margin-left: 90px;
	font-family: 'Niramit', sans-serif;
	font-size: 50px;
	color: #2e5c84;
	font-weight: bold;
}




.imagenbaño{
	margin-top: 50px;
	margin-left: 420px;
	width:205px;
}



.baño2{
	margin-top: -130px;
	margin-left: 180px;
	font-family: 'Niramit', sans-serif;
	font-size: 30px;
	color: #2e5c84;
}

.bañotext{

	margin-left: 180px;
	font-family: 'Montserrat', sans-serif;
	font-size: 12px;
	color: #2e5c84;
	width: 240px;


}

.imagenhabitacion{
	width: 400px;
}

.habitacion{
	margin-top: -170px;
	margin-left: 1020px;
	font-family: 'Niramit', sans-serif;
	font-size: 30px;
	color: #2e5c84;

}

.habitaciontext{
	margin-left: 1020px;
	font-family: 'Montserrat', sans-serif;
	font-size: 12px;
	color: #2e5c84;
	width: 250px;
}

.imagensala{
	margin-top: 30px;
	margin-left: 390px;
	width:350px;
}

.sala{
	margin-top: -160px;
	margin-left: 180px;
	font-family: 'Niramit', sans-serif;
	font-size: 30px;
	color: #2e5c84;
}

.salatext{
	margin-left: 180px;
	font-family: 'Montserrat', sans-serif;
	font-size: 12px;
	color: #2e5c84;
	width: 250px;
}

.imagencocina{
	margin-left: -100px;
	margin-top: -10px;
}

.cocina{
	margin-top: -180px;
	margin-left: 1020px;
	font-family: 'Niramit', sans-serif;
	font-size: 30px;
	color: #2e5c84;
}

.cocinatext{
	margin-left: 1020px;
	font-family: 'Montserrat', sans-serif;
	font-size: 12px;
	color: #2e5c84;
	width: 250px;
}

.aparatos{
	margin-top: 50px;
	font-family: 'Niramit', sans-serif;
	font-size: 26px;
	color: #2e5c84;
}

.bombillas{
	margin-top: -220px;
	animation: bombillasanimadas 2s alternate ease infinite;
}



@keyframes bombillasanimadas{
	to{
		transform: translateY();
	}
}

.stand{
	margin-top: -180px;
	font-family: 'Niramit', sans-serif;
	font-size: 80px;
	font-style: italic;
	font-weight: bold;
	color: #6bd05c;
}

.standtext{
	margin-top: -20px;
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
	color: #2e5c84;
	width: 643px;
	
}

.aparatostext{

	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
	text-align: center;
	color: #2e5c84;
	width: 268px;
	
}

.comillas1{
	margin-top: -70px;
	font-family: 'Niramit', sans-serif;
	font-size: 350px;
	font-weight: bold;
	color: #6bd05c;
	
}

.comillastext{
	margin-top: 60px;
	font-family: 'Niramit', sans-serif;
	font-size: 42px;
	font-style: italic;
	font-weight: medium;
	line-height: -50px;
	text-align: center;
	color: #6bd05c;

}
.luciasaluda{
	margin-top: -100px;
	width: 800px;
}
.luciasaludando{
	margin-top: -50px;
	margin-left: -150px;
	width: 550px;
}

.ahora{
	margin-left: -100px;
	width: 600px;
	font-family:  'Niramit', sans-serif;
	font-size: 45px;
	font-weight: bold;
	text-align: center;
	color: #2e5c84;
}

.ahoratext{
	margin-left: 25px;
	margin-top: 20px;
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
	text-align: center;
	color: #2e5c84;
	width: 350px;
	
}

.modozerotox{
	margin-left: -100px;
	width: 600px;
	font-family:  'Niramit', sans-serif;
	font-size: 30px;
	font-weight: bold;
	text-align: center;
	color: #6bd05c;
}

.reto{
	
	width: 400px;
	font-family:  'Niramit', sans-serif;
	font-size: 22px;
	font-weight: bold;
	text-align: center;
	color: #6bd05c;
}


a{

	color: #2ea684;
}

.fuentes{
	
	margin-left: 90px;
	font-family: 'Montserrat', sans-serif;
	font-size: 12px;
	
	color: #2e5c84;
	
}

.botoninfografiaB button{
	margin-top: 5%;
	margin-bottom: 5%;
	margin-left: 44%;
	font-family: 'Montserrat', sans-serif;
	height: 38px;
	background-image: -webkit-linear-gradient(270deg,rgba(46,166,132,1.00) 0%,rgba(46,91,132,1.00) 100%);
	background-image: -moz-linear-gradient(270deg,rgba(46,166,132,1.00) 0%,rgba(46,91,132,1.00) 100%);
	background-image: -o-linear-gradient(270deg,rgba(46,166,132,1.00) 0%,rgba(46,91,132,1.00) 100%);
	background-image: linear-gradient(180deg,rgba(46,166,132,1.00) 0%,rgba(46,91,132,1.00) 100%);
	color: #FFFFFF;
	font-weight: 500;
	margin-right: 36px;
	width: 180px;
	border-radius: 12px;
	border: none;
}

.botoninfografiaB button:active {
	transform:scale(0.9);
}

.botoninfografiaB button:hover {
	opacity: 0.86;	
}


}







@media (max-width:850px) and (min-width: 549px){

.migadepan1{
	margin-top: 100px;
	margin-left: 15px;
	color: #2e5c84;
	font-family: 'Montserrat', sans-serif;
	font-size: 10px;
}

.gasto{
	font-family: 'Niramit', sans-serif;
	font-size: 34px;
	color: #2e5c84;
	font-weight: bold;

}


.colorverde{
	color: #6bd05c;
}

.silencioso{
	font-weight: 100;
	letter-spacing: 10px;
}

.intro{
	margin-top: 30px;
	margin-left: 40px;
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	color: #2e5c84;
	width: 350px;
	
}

.techoespacio{
	margin-top: -50px;
	width:450px;
}

.elemento1{
	margin-top: -50px;
	margin-left: 40px;
	font-family: 'Niramit', sans-serif;
	font-size: 30px;
	color: #2e5c84;
	font-weight: bold;
}




.imagenbaño{
	margin-top: 40px;
	margin-left: 190px;
	width:155px;
}

.imagenhabitacion{
	margin-top: -50px;
	width: 280px;
}


.baño2{
	margin-top: -110px;
	margin-left: 40px;
	font-family: 'Niramit', sans-serif;
	font-size: 20px;
	color: #2e5c84;
}



.bañotext{

	margin-left: 40px;
	font-family: 'Montserrat', sans-serif;
	font-size: 9px;
	color: #2e5c84;
	width: 160px;


}

.habitacion{
	margin-top: -175px;
	margin-left: 630px;
	font-family: 'Niramit', sans-serif;
	font-size: 20px;
	color: #2e5c84;
}

.habitaciontext{
	margin-left: 630px;
	font-family: 'Montserrat', sans-serif;
	font-size: 9px;
	color: #2e5c84;
	width: 150px;
}

.imagensala{
	margin-top: 30px;
	margin-left: 170px;
	width:250px;
}

.sala{
	margin-top: -130px;
	margin-left: 40px;
	font-family: 'Niramit', sans-serif;
	font-size: 20px;
	color: #2e5c84;
}

.salatext{
	margin-left: 40px;
	font-family: 'Montserrat', sans-serif;
	font-size: 9px;
	color: #2e5c84;
	width: 160px;
}

.imagencocina{
	margin-left: -80px;
	margin-top: -10px;
	width: 310px;
}

.cocina{
	margin-top: -150px;
	margin-left: 630px;
	font-family: 'Niramit', sans-serif;
	font-size: 20px;
	color: #2e5c84;
}

.cocinatext{
	margin-left: 630px;
	font-family: 'Montserrat', sans-serif;
	font-size: 9px;
	color: #2e5c84;
	width: 160px;
}

.aparatos{
	margin-top: 50px;
	font-family: 'Niramit', sans-serif;
	font-size: 18px;
	color: #2e5c84;
}

.bombillas{
	margin-top: -140px;
	animation: bombillasanimadas 2s alternate ease infinite;
}



@keyframes bombillasanimadas{
	to{
		transform: translateY();
	}
}

.stand{
	margin-top: -120px;
	font-family: 'Niramit', sans-serif;
	font-size: 50px;
	font-style: italic;
	font-weight: bold;
	color: #6bd05c;
}

.standtext{
	margin-top: -20px;
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	color: #2e5c84;
	width: 420px;

	
}

.centrar{
	margin-left: 100px;
}

.aparatostext{

	font-family: 'Montserrat', sans-serif;
	font-size: 12px;
	text-align: center;
	color: #2e5c84;
	width: 268px;
	
}

.comillas1{
	margin-top: -30px;
	
	font-family: 'Niramit', sans-serif;
	font-size: 180px;
	font-weight: bold;
	color: #6bd05c;

}

.comillastext{
	margin-top: 30px;
	font-family: 'Niramit', sans-serif;
	font-size: 32px;
	font-style: italic;
	font-weight: medium;
	line-height: -50px;
	text-align: center;
	color: #6bd05c;

}

.luciasaluda{
	margin-top: -100px;
	width: 600px;
}
.luciasaludando{
	margin-top: -50px;
	margin-left: -150px;
	width: 550px;
}

.ahora{
	margin-left: -100px;
	width: 600px;
	font-family:  'Niramit', sans-serif;
	font-size: 45px;
	font-weight: bold;
	text-align: center;
	color: #2e5c84;
}

.ahoratext{
	margin-left: 25px;
	margin-top: 20px;
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
	text-align: center;
	color: #2e5c84;
	width: 350px;
	
}

.modozerotox{
	margin-left: -100px;
	width: 600px;
	font-family:  'Niramit', sans-serif;
	font-size: 30px;
	font-weight: bold;
	text-align: center;
	color: #6bd05c;
}

.reto{
	
	width: 400px;
	font-family:  'Niramit', sans-serif;
	font-size: 22px;
	font-weight: bold;
	text-align: center;
	color: #6bd05c;
}


a{

	color: #2ea684;
}

.fuentes{
	margin-top: 10px;
	margin-left: 50px;
	font-family: 'Montserrat', sans-serif;
	font-size: 10px;
	width: 720px;
	color: #2e5c84;
	
}
}







@media (max-width:550px){

.migadepan1{
	display: none;
}

.gasto{
	margin-top: 50px;
	font-family: 'Niramit', sans-serif;
	font-size: 30px;
	text-align: center;
	color: #2e5c84;
	font-weight: bold;

}


.colorverde{
	color: #6bd05c;
}

.silencioso{
	font-weight: 100;
	letter-spacing: 10px;
}

.intro{
	margin-top: 30px;
	margin-left: 50px;
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	color: #2e5c84;
	width: 380px;
	
}

.techoespacio{
	margin-top: 10px;
	width:450px;
}

.elemento1{
	
	margin-left: 40px;
	font-family: 'Niramit', sans-serif;
	font-size: 30px;
	color: #2e5c84;
	font-weight: bold;
}




.imagenbaño{
	margin-top: 20px;
	margin-left: 20px;
	width:255px;
}

.imagenhabitacion{
	margin-top: 100px;
	margin-left: 100px;
	width: 380px;
}


.baño2{
	margin-top: -300px;
	margin-left: 40px;
	font-family: 'Niramit', sans-serif;
	font-size: 20px;
	color: #2e5c84;
}



.bañotext{

	margin-left: 40px;
	font-family: 'Montserrat', sans-serif;
	font-size: 12px;
	color: #2e5c84;
	width: 260px;


}

.habitacion{
	margin-top: 200px;
	margin-left: 40px;
	font-family: 'Niramit', sans-serif;
	font-size: 20px;
	color: #2e5c84;
}

.habitaciontext{
	margin-left: 40px;
	font-family: 'Montserrat', sans-serif;
	font-size: 12px;
	color: #2e5c84;
	width: 260px;
}

.imagensala{
	margin-top: -10px;
	margin-left: -10px;
	width:400px;
}

.sala{
	margin-top: -430px;
	margin-left: 40px;
	font-family: 'Niramit', sans-serif;
	font-size: 20px;
	color: #2e5c84;
}

.salatext{
	margin-left: 40px;
	font-family: 'Montserrat', sans-serif;
	font-size: 12px;
	color: #2e5c84;
	width: 260px;
}

.imagencocina{
	margin-left: 130px;
	margin-top: 120px;
	width: 380px;
}

.cocina{
	margin-top: 250px;
	margin-left: 40px;
	font-family: 'Niramit', sans-serif;
	font-size: 20px;
	color: #2e5c84;
}

.cocinatext{
	margin-left: 40px;
	font-family: 'Montserrat', sans-serif;
	font-size: 12px;
	color: #2e5c84;
	width: 260px;
}

.aparatos{
	margin-top: 50px;
	font-family: 'Niramit', sans-serif;
	font-size: 18px;
	color: #2e5c84;
}

.bombillas{
	margin-top: -100px;
	animation: bombillasanimadas 2s alternate ease infinite;
}



@keyframes bombillasanimadas{
	to{
		transform: translateY();
	}
}

.stand{
	margin-top: -80px;
	font-family: 'Niramit', sans-serif;
	font-size: 25px;
	font-style: italic;
	font-weight: bold;
	color: #6bd05c;
}

.standtext{
	margin-top: -20px;
	font-family: 'Montserrat', sans-serif;
	font-size: 12px;
	color: #2e5c84;
	width: 420px;

	
}
.centrar{
	margin-left: 100px;
}
.aparatostext{

	font-family: 'Montserrat', sans-serif;
	font-size: 12px;
	text-align: center;
	color: #2e5c84;
	width: 268px;
	
}

.comillas1{
	
	margin-left: 10px;
	font-family: 'Niramit', sans-serif;
	font-size: 80px;
	font-weight: bold;
	color: #6bd05c;

}

.comillastext{
	margin-top: 30px;
	font-family: 'Niramit', sans-serif;
	font-size: 18px;
	font-style: italic;
	font-weight: medium;
	line-height: -50px;
	text-align: center;
	color: #6bd05c;

}

.luciasaluda{
	margin-top: 120px;
	width: 300px;
}
.luciasaludando{
	margin-top: -50px;
	margin-left: -50px;
	width: 350px;
}

.ahora{
	margin-left: -10px;
	width: 300px;
	font-family:  'Niramit', sans-serif;
	font-size: 30px;
	font-weight: bold;
	text-align: center;
	color: #2e5c84;
}

.ahoratext{
	margin-left: -30px;
	margin-top: 20px;
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	text-align: center;
	color: #2e5c84;
	width: 350px;
	
}

.modozerotox{
	margin-left: -150px;
	width: 600px;
	font-family:  'Niramit', sans-serif;
	font-size: 30px;
	font-weight: bold;
	text-align: center;
	color: #6bd05c;
}

.reto{
	margin-left: -50px;
	width: 400px;
	font-family:  'Niramit', sans-serif;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	color: #6bd05c;
}

a{

	color: #2ea684;
}

.fuentes{
	margin-top: 10px;
	margin-left: 20px;
	font-family: 'Montserrat', sans-serif;
	font-size: 10px;
	width: 420px;
	color: #2e5c84;
	
}
}






}.marinfo {
	max-width: 1400px;
	margin-top: 50px;
}
